.news-card {
    transition: 300ms ease-in-out;
    background: #FFFFFF;
    border: 1px solid #D3DBE6;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 27px;
    height: 180px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.news-card:hover {
    background: #2F80ED;
    border: 1px solid #2F80ED;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 27px;
}

.news-card-title {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #3E4554;
    margin-bottom: 10px;

}

.news-card-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #959CB1;
}

.news-card-footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-card-more-details {
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #2F80ED;
}

.news-card-data {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    color: #959CB1;
}
.news-card div {
    transition: 400ms;
}
.news-card:hover div {
    color: white;
}