.counter-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.counter-value {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.05em;
    color: #2F80ED;
}

.counter-label {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #3E4554;
}